name: Container Build

on:
  workflow_call:
  workflow_dispatch:
  release:
    types: [published]

permissions:
  contents: read
  packages: write
  security-events: write
  pull-requests: write

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Set up QEMU
        uses: docker/setup-qemu-action@v3

      - name: Build and Push Container
        uses: wgtechlabs/container-build-flow-action@v1.2.0
        with:
          registry: both
          dockerhub-username: ${{ secrets.DOCKER_HUB_USERNAME }}
          dockerhub-token: ${{ secrets.DOCKER_HUB_ACCESS_TOKEN }}
          ghcr-token: ${{ secrets.GITHUB_TOKEN }}
          platforms: linux/amd64,linux/arm64
          trivy-severity: CRITICAL
          fail-on-vulnerability: true
