name: Release

on:
  workflow_run:
    workflows: ['CI']
    types: [completed]
    branches: [main]

permissions:
  contents: write
  pull-requests: write

jobs:
  release:
    if: github.event.workflow_run.conclusion == 'success'
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@de0fac2e4500dabe0009e67214ff5f5447ce83dd # v6.0.2
        with:
          fetch-depth: 0
          token: ${{ secrets.GH_PAT }}

      - name: Create Release
        uses: wgtechlabs/release-build-flow-action@v1.6.0 # v1.6.0
        with:
          github-token: ${{ secrets.GH_PAT }}
          monorepo: 'true'
          monorepo-root-release: 'true'
          unified-version: 'false'
          change-detection: 'both'
          per-package-changelog: 'true'
          root-changelog: 'true'
